body{
    background-color: #34495e;

}
.gg{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #191919;
 }
 .gg h1{
     color: white;
     text-transform: uppercase;
     font-weight: 500;
 }
 .gg input[type = "text"],.gg input[type = email],.gg input[type = "file"]{
   border: 0;
   background: none;
   display: block;
   margin: 20px auto;
   text-align: center; 
   padding: 14px 10px;
   width: 200px;
   outline: none;
   color: white;
   border-radius: 24px;
   transition: 0.25s;
   border: 2px solid #3498db;
 }
 .gg input[type = "submit"]{
    border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center; 
  padding: 14px 40px;
  
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  border: 2px solid #3498db;
  cursor: pointer;
}
.gg h1{
    color:black;
}
#rr{
    color: burlywood;
}